<!DOCTYPE html>
<html>
<head>
   
</head>

<body>
    <form action="/create">
        <label class="text">Input link to shorten:<input class="text" type="text" name="input_link_shorten"></label>
        <br>
        <input type="submit" value="Submit">
    </form>
    <br>
    <br>
    <form action="/access">
        <label class="text">Input link to access:<input class="text" type="text" name="input_link_access"></label>
        <br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
